.containerProjeto {
  display: grid;
  gap: 2rem;
}
.projetos {
  display: flex;
  border: solid 2px #2a76da44;
  background: #f1f1f1;
  padding: 1.5rem;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  background-image: radial-gradient(
    circle,
    #141f30,
    #141a2b,
    #131626,
    #131121,
    #120a1c
  );
}

.projetos p {
  margin-left: 1.5rem;
  color: #fff;
}
.projetos:hover {
  box-shadow: #fff 0px 0px 5px 2px;
}

:global(body.light) .projetos {
  background-image: linear-gradient(
    to right top,
    #e0e5ee,
    #ced9ee,
    #bbcdee,
    #a9c2ee,
    #96b6ee
  );
  border: solid 2px #3f3e49;
}
:global(body.light) .projetos:hover {
  box-shadow: #131121 0px 0px 5px 2px;
}
:global(body.light) .projetos p {
  color: #222;
}
