* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}

body {
  background-image: radial-gradient(
    circle,
    #141f30,
    #273d56,
    #385e7f,
    #4882a9,
    #55a8d4
  );
  display: grid;
  justify-content: center;
}
body.light {
  background-image: linear-gradient(
    to right top,
    #f0f1f2,
    #f2f3f4,
    #f5f5f6,
    #f7f7f7,
    #f9f9f9
  );
}
.App {
  margin: 2rem;
}
.container {
  margin: 0 auto;
}
